.ant-btn {
  padding: 0 20px;
  min-width: 88px;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  font-size: 12px;
}

.ant-input {
  width: 242px;
  font-size: 12px;
}

.ant-select {
  width: 242px;
  font-size: 12px;
}

.ant-select-dropdown {
  font-size: 12px;
}

.a-range-picker .ant-input {
  width: 352px;
}

.ant-alert {
  padding: 10px 18px 10px 40px;
  width: 440px;
  font-size: 12px;
  line-height: 20px;

  .ant-alert-icon {
    font-size: 16px;
  }
}


.ant-modal {
  .ant-modal-content {
    border-right: 2px;

    .ant-modal-header {
      padding: 18px 24px;
    }

    .ant-modal-body {
      padding: 30px;
    }

    .ant-modal-footer {
      padding: 20px 30px 30px 0;
      border-top: 0;

      .ant-btn {
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;

        &:not(:first-child) {
          margin-left: 30px;
        }
      }
    }
  }
}
