@font-face {
  font-family: PingFang-SC-Regular;
  src: local("PingFang-SC-Regular"), url('../fonts/PingFangRegular.ttf') format('truetype');
}

@font-face {
  font-family: PingFang-SC-Medium;
  src: local("PingFang-SC-Medium"), url("../fonts/PingFangMedium.ttf") format('truetype');
}

@font-face {
  font-family: PingFang-SC-Light;
  src: local("PingFang-SC-Light"), url("../fonts/PingFangLight.ttf") format('truetype');
}

@font-face {
  font-family: PingFang-SC-Heavy;
  src: local("PingFang-SC-Heavy"), url("../fonts/PingFangHeavy.ttf") format('truetype');
}

@font-face {
  font-family: PingFang-SC-ExtraLight;
  src: local("PingFang-SC-ExtraLight"), url("../fonts/PingFangExtraLight.ttf") format('truetype');
}

@font-face {
  font-family: PingFang-SC-Bold;
  src: local("PingFang-SC-Bold"), url("../fonts/PingFangBold.ttf") format('truetype');
}
